/*!////////////////////////////////////////////////
// BASE
/////////////////////////////////////////////////*/
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
iframe,
div,
section,
header,
p,
a,
ul,
ol,
li,
article,
footer,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.rwd-table {
  margin: 1em 0;
  min-width: 300px; }
  .rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .rwd-table th {
    display: none; }
  .rwd-table td {
    display: block; }
    .rwd-table td:first-child {
      padding-top: .5em; }
    .rwd-table td:last-child {
      padding-bottom: .5em; }
    .rwd-table td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 480px) {
        .rwd-table td:before {
          display: none; } }
  .rwd-table th, .rwd-table td {
    text-align: left; }
    @media (min-width: 480px) {
      .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em; }
        .rwd-table th:first-child, .rwd-table td:first-child {
          padding-left: 0; }
        .rwd-table th:last-child, .rwd-table td:last-child {
          padding-right: 0; } }

/*!////////////////////////////////////////////////
// LAYOUT
/////////////////////////////////////////////////*/
.wrap {
  max-width: 1280px;
  width: 92%;
  margin: 0px auto;
  position: relative; }

.row {
  clear: both; }

@media screen and (min-width: 480px) {
  .wrap {
    width: 98%; }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-half,
  .grid-full,
  .grid-25,
  .grid-unit {
    float: left;
    width: 100%; }
    .grid-1:nth-child(n),
    .grid-2:nth-child(n),
    .grid-3:nth-child(n),
    .grid-4:nth-child(n),
    .grid-5:nth-child(n),
    .grid-6:nth-child(n),
    .grid-half:nth-child(n),
    .grid-full:nth-child(n),
    .grid-25:nth-child(n),
    .grid-unit:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-1:nth-child(1n),
    .grid-2:nth-child(1n),
    .grid-3:nth-child(1n),
    .grid-4:nth-child(1n),
    .grid-5:nth-child(1n),
    .grid-6:nth-child(1n),
    .grid-half:nth-child(1n),
    .grid-full:nth-child(1n),
    .grid-25:nth-child(1n),
    .grid-unit:nth-child(1n) {
      margin-right: 0; }
    .grid-1:last-child,
    .grid-2:last-child,
    .grid-3:last-child,
    .grid-4:last-child,
    .grid-5:last-child,
    .grid-6:last-child,
    .grid-half:last-child,
    .grid-full:last-child,
    .grid-25:last-child,
    .grid-unit:last-child {
      margin-right: 0; }

  .gallery .grid-unit,
  .grid-half {
    width: 49.24242%; }
    .gallery .grid-unit:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .gallery .grid-unit:nth-child(2n),
    .grid-half:nth-child(2n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-flow-opposite {
    float: right; } }
@media screen and (min-width: 640px) {
  .grid-1 {
    width: 15.40404%; }
    .grid-1:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-1:nth-child(6n) {
      margin-right: 0; }
    .grid-1:last-child {
      margin-right: 0; }

  .grid-2 {
    width: 32.32323%; }
    .grid-2:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-2:nth-child(3n) {
      margin-right: 0; }
    .grid-2:last-child {
      margin-right: 0; }

  .grid-3,
  .grid-half {
    width: 49.24242%; }
    .grid-3:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-3:nth-child(2n),
    .grid-half:nth-child(2n) {
      margin-right: 0; }
    .grid-3:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-4 {
    width: 66.16162%; }
    .grid-4:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-4:nth-child(1.5n) {
      margin-right: 0; }
    .grid-4:last-child {
      margin-right: 0; }

  .grid-5 {
    width: 82.74242%; }
    .grid-5:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-5:nth-child(1.20482n) {
      margin-right: 0; }
    .grid-5:last-child {
      margin-right: 0; }

  .grid-6,
  .grid-full {
    width: 100%; }
    .grid-6:nth-child(n),
    .grid-full:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-6:nth-child(1n),
    .grid-full:nth-child(1n) {
      margin-right: 0; }
    .grid-6:last-child,
    .grid-full:last-child {
      margin-right: 0; }

  /* If there are no margins */
  .grid-1.no-margin {
    width: 16.66667%; }
    .grid-1.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-1.no-margin:nth-child(6n) {
      margin-right: 0; }
    .grid-1.no-margin:last-child {
      margin-right: 0; }

  .grid-2.no-margin {
    width: 33.33333%; }
    .grid-2.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-2.no-margin:nth-child(3n) {
      margin-right: 0; }
    .grid-2.no-margin:last-child {
      margin-right: 0; }

  .grid-3.no-margin,
  .grid-half.no-margin {
    width: 50%; }
    .grid-3.no-margin:nth-child(n),
    .grid-half.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-3.no-margin:nth-child(2n),
    .grid-half.no-margin:nth-child(2n) {
      margin-right: 0; }
    .grid-3.no-margin:last-child,
    .grid-half.no-margin:last-child {
      margin-right: 0; }

  .grid-4.no-margin {
    width: 66.66667%; }
    .grid-4.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-4.no-margin:nth-child(1.5n) {
      margin-right: 0; }
    .grid-4.no-margin:last-child {
      margin-right: 0; }

  .grid-5.no-margin {
    width: 83.0%; }
    .grid-5.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-5.no-margin:nth-child(1.20482n) {
      margin-right: 0; }
    .grid-5.no-margin:last-child {
      margin-right: 0; }

  .grid-6.no-margin,
  .grid-full.no-margin {
    width: 100%; }
    .grid-6.no-margin:nth-child(n),
    .grid-full.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-6.no-margin:nth-child(1n),
    .grid-full.no-margin:nth-child(1n) {
      margin-right: 0; }
    .grid-6.no-margin:last-child,
    .grid-full.no-margin:last-child {
      margin-right: 0; }

  .grid-25 {
    width: 23.86364%; }
    .grid-25:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-25:nth-child(4n) {
      margin-right: 0; }
    .grid-25:last-child {
      margin-right: 0; }

  .grid-25.no-margin {
    width: 25%; }
    .grid-25.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-25.no-margin:nth-child(4n) {
      margin-right: 0; }
    .grid-25.no-margin:last-child {
      margin-right: 0; }

  .gallery .grid-unit {
    width: 32.32323%; }
    .gallery .grid-unit:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .gallery .grid-unit:nth-child(3n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child {
      margin-right: 0; }

  .content-pad-right {
    padding-right: 4%;
    /* Use (or don't) as necessary. */ }

  .content-pad-left {
    padding-left: 4%; } }
/*!////////////////////////////////////////////////
// THEME
/////////////////////////////////////////////////*/
/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
.test {
  min-height: 100px;
  background-color: gray; }

a {
  text-decoration: none;
  color: #aab18d;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

svg {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

a, p, h1, h2, h3, h4 {
  font-weight: normal; }

p {
  font-family: "Droid Serif", serif;
  font-size: 1em;
  color: #0f3751; }

h3 {
  font-family: "Droid Serif", serif;
  font-size: 1.5em; }

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 3em; }

h1, h2 {
  font-family: "Oswald", sans-serif;
  font-size: 3em; }

/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/
/*!////////////////////////////////////////////////
// header
/////////////////////////////////////////////////*/
.header {
  margin: 20px 0;
  position: relative; }

.logo {
  display: inline-block; }

.phone {
  display: inline-block;
  float: right;
  margin-top: 20px; }
  .phone h3 {
    color: #0f3751; }
    @media screen and (max-width: 421px) {
      .phone h3 {
        font-size: 1.25em;
        position: absolute;
        top: 0;
        right: 10px; } }

nav {
  margin-top: 20px; }
  @media screen and (max-width: 878px) {
    nav {
      display: none; } }
  @media screen and (max-width: 1045px) {
    nav {
      text-align: center; } }
  @media screen and (max-width: 878px) {
    nav {
      text-align: left; } }
  nav a {
    color: #0f3751;
    padding: 5px 26px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-right: 2px solid #d8d7d7;
    border-bottom: 2px solid white;
    text-align: center; }
    @media screen and (max-width: 1215px) {
      nav a {
        padding: 5px 1.5%; } }
    @media screen and (max-width: 1045px) {
      nav a {
        padding: 5px 1%; } }
    @media screen and (max-width: 878px) {
      nav a {
        border-right: none;
        text-align: left;
        display: block; } }
  nav :last-child {
    border-right: none; }
  nav :hover {
    border-bottom: 2px solid #aab18d; }
    @media screen and (max-width: 878px) {
      nav :hover {
        background-color: #0f3751;
        color: white;
        border-bottom: 2px solid white; } }

.hamburger {
  display: none; }
  @media screen and (max-width: 878px) {
    .hamburger {
      display: inline-block;
      position: absolute;
      bottom: -10px;
      right: 20px; } }
  .hamburger svg {
    fill: #0f3751;
    z-index: 10;
    width: 30px;
    height: 40px; }
  .hamburger svg:hover {
    fill: #aab18d; }

.display {
  display: block; }

.h-container {
  position: relative;
  width: 100%; }

/*!////////////////////////////////////////////////
// homepage banner
/////////////////////////////////////////////////*/
.homepage_banner {
  height: 615px;
  background: url("../img/header-banner.jpg") no-repeat fixed;
  background-size: cover;
  padding-top: 140.5px; }

.homepage_title {
  margin: 0 auto;
  width: 40%;
  padding: 50px 0;
  position: relative; }
  @media screen and (max-width: 1280px) {
    .homepage_title {
      width: 60%; } }
  @media screen and (max-width: 808px) {
    .homepage_title {
      width: 90%; } }
  .homepage_title :before {
    width: 100%;
    position: absolute;
    content: "";
    bottom: 0;
    width: calc(100% + 40px);
    height: 2px;
    left: -20px;
    background-color: #aab18d; }
  .homepage_title :after {
    width: 2px;
    position: absolute;
    background-color: #aab18d;
    height: calc(100% + 40px);
    right: 0;
    top: -20px;
    content: ""; }
  .homepage_title .homepage_title2 :before {
    width: 2px;
    position: absolute;
    background-color: #aab18d;
    height: calc(100% + 40px);
    left: 0;
    top: -20px;
    content: ""; }
  .homepage_title .homepage_title2 :after {
    width: 100%;
    position: absolute;
    content: "";
    top: 0;
    width: calc(100% + 40px);
    height: 2px;
    left: -20px;
    background-color: #aab18d; }
  .homepage_title h1 {
    text-align: center;
    color: white; }
    .homepage_title h1 span {
      font-family: "Droid Serif", serif;
      font-size: 24px;
      display: block;
      width: 100%;
      margin-top: 40px; }

.page-title {
  margin: 60px auto;
  width: 30%;
  padding: 20px 0;
  position: relative; }
  .page-title h1 {
    color: #0f3751;
    text-align: center; }
  @media screen and (max-width: 1280px) {
    .page-title {
      width: 40%; } }
  @media screen and (max-width: 1011px) {
    .page-title {
      width: 80%; } }
  .page-title :before {
    width: 100%;
    position: absolute;
    content: "";
    bottom: 0;
    width: calc(100% + 40px);
    height: 2px;
    left: -20px;
    background-color: #aab18d; }
  .page-title :after {
    width: 2px;
    position: absolute;
    background-color: #aab18d;
    height: calc(100% + 40px);
    right: 0;
    top: -20px;
    content: ""; }
  .page-title .page-title2 :before {
    width: 2px;
    position: absolute;
    background-color: #aab18d;
    height: calc(100% + 40px);
    left: 0;
    top: -20px;
    content: ""; }
  .page-title .page-title2 :after {
    width: 100%;
    position: absolute;
    content: "";
    top: 0;
    width: calc(100% + 40px);
    height: 2px;
    left: -20px;
    background-color: #aab18d; }

.sub-page-intro {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 60px;
  line-height: 20pt; }
  @media screen and (max-width: 790px) {
    .sub-page-intro {
      width: 80%; } }
  @media screen and (max-width: 441px) {
    .sub-page-intro {
      width: 100%; } }
  .sub-page-intro p {
    margin-bottom: 20px; }
  .sub-page-intro p:last-child {
    margin-bottom: 0; }

.about-page {
  text-align: left; }

.grid-system {
  margin: 60px 0; }
  .grid-system span {
    padding: 20px;
    display: block;
    height: 70px;
    width: 100%;
    border: 2px solid #0f3751;
    background-color: #0f3751;
    color: white;
    padding-top: 16px;
    margin-bottom: 20px;
    font-family: "Droid Serif", serif;
    font-size: 1.25em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    @media screen and (max-width: 1196px) {
      .grid-system span {
        height: 90px; } }
  .grid-system h2 {
    font-size: 2em;
    color: #0f3751;
    border-bottom: 2px solid #aab18d;
    margin-bottom: 20px;
    text-align: center; }
    @media screen and (max-width: 1196px) {
      .grid-system h2 {
        margin-top: 40px; } }
  .grid-system span.long {
    padding-top: 7px; }
  .grid-system span:last-child {
    margin-bottom: 0; }

.links span:hover {
  background-color: white;
  color: #0f3751;
  cursor: pointer; }
  .links span:hover svg {
    fill: #0f3751; }
.links .active {
  background-color: white;
  color: #0f3751; }
  .links .active svg {
    fill: #0f3751; }
.links span {
  position: relative; }
  .links span svg {
    width: 35px;
    position: absolute;
    right: 20px;
    top: 14px;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    fill: white; }
.links p {
  margin-bottom: 20px;
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.svg-rotate svg {
  transform: rotate(180deg); }

.image-container .grid-25 img {
  width: 100%;
  height: auto; }

.rotate {
  transform: rotate(180deg); }

/*!////////////////////////////////////////////////
// Home section
/////////////////////////////////////////////////*/
.home_content {
  text-align: center;
  color: #0f3751; }
  .home_content div {
    width: 63%;
    margin: 0 auto;
    padding: 40px 0; }
    @media screen and (max-width: 713px) {
      .home_content div {
        width: 100%; } }
    .home_content div p {
      line-height: 20pt; }

/*!////////////////////////////////////////////////
// Circle
/////////////////////////////////////////////////*/
.circle {
  border-radius: 50%;
  border: 2px solid #0f3751;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  background-color: white;
  position: relative; }
  @media screen and (max-width: 876px) {
    .circle {
      width: 300px;
      height: 300px; } }

.circle-center {
  width: 370px;
  background-color: white;
  height: 111px;
  margin-top: 119.5px;
  margin-left: -10px;
  position: relative; }
  @media screen and (max-width: 939px) {
    .circle-center {
      background-color: transparent; } }
  @media screen and (max-width: 939px) {
    .circle-center {
      border: none;
      display: none; } }

.circle-horz {
  width: 370px;
  height: 115px;
  border-top: 2px solid #0f3751;
  border-bottom: 2px solid #0f3751;
  position: absolute;
  top: 117.5px;
  left: -10px;
  z-index: -1; }
  @media screen and (max-width: 939px) {
    .circle-horz {
      border: none;
      display: none; } }

.circle-1 {
  height: 15px;
  width: 100%;
  position: absolute;
  top: 0;
  border-right: 2px solid #0f3751;
  border-left: 2px solid #0f3751; }
  @media screen and (max-width: 939px) {
    .circle-1 {
      border: none; } }

.circle-2 {
  height: 15px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-right: 2px solid #0f3751;
  border-left: 2px solid #0f3751; }
  @media screen and (max-width: 939px) {
    .circle-2 {
      border: none; } }

.circle-text {
  position: absolute;
  text-align: center;
  top: 72px;
  color: #0f3751;
  left: 50%;
  margin-left: -116px; }
  .circle-text img {
    width: 40%;
    margin-top: 20px; }
  .circle-text h2 {
    border-bottom: 2px solid #aab18d;
    text-transform: uppercase; }
  .circle-text p {
    font-size: 1.125em; }
  @media screen and (max-width: 876px) {
    .circle-text {
      top: 38px;
      margin-left: -102px; } }

/*!////////////////////////////////////////////////
// Home Bars
/////////////////////////////////////////////////*/
.home_circle-wrap {
  position: relative;
  width: 84%;
  margin: 0 auto; }
  @media screen and (max-width: 740px) {
    .home_circle-wrap {
      width: 100%; } }
  .home_circle-wrap h3 {
    display: inline-block;
    position: absolute; }
    @media screen and (max-width: 740px) {
      .home_circle-wrap h3 {
        display: block;
        position: relative;
        width: 100%;
        text-align: left;
        top: 20px; } }
    .home_circle-wrap h3 a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      padding: 10px 20px;
      color: white;
      background-color: #0f3751;
      border: 2px solid #0f3751;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .home_circle-wrap h3 a:hover {
      background-color: white;
      color: #0f3751; }

.top {
  top: 10px; }
  @media screen and (max-width: 1122px) {
    .top {
      top: -40px; } }

.left {
  left: 0; }

.right {
  right: 0;
  text-align: right; }

.middle {
  top: 145px;
  text-align: center; }
  @media screen and (max-width: 1012px) {
    .middle {
      top: 120px; } }

.bottom {
  bottom: 10px; }
  @media screen and (max-width: 1122px) {
    .bottom {
      bottom: -40px; } }

.full {
  width: 46%; }
  @media screen and (max-width: 1122px) {
    .full {
      width: 50%; } }

.small {
  width: 30%; }

.project {
  padding-left: 20px; }
  @media screen and (max-width: 911px) {
    .project {
      padding-left: 0; } }

.office {
  padding-right: 20px; }
  @media screen and (max-width: 911px) {
    .office {
      padding-right: 0; } }

.circle-hide {
  display: none; }
  @media screen and (max-width: 740px) {
    .circle-hide {
      display: block; } }

@media screen and (max-width: 740px) {
  .circle-show h3 a {
    display: none; } }

/*!////////////////////////////////////////////////
// Owl
/////////////////////////////////////////////////*/
#owl-demo .item {
  margin: 40px 60px 10px 60px; }
  @media screen and (max-width: 1280px) {
    #owl-demo .item {
      margin: 40px 40px 10px 40px; } }

#owl-demo .item img {
  display: block;
  width: 90%;
  height: auto; }
  @media screen and (max-width: 1280px) {
    #owl-demo .item img {
      width: 100%; } }
  @media screen and (max-width: 1011px) {
    #owl-demo .item img {
      width: 80%; } }
  @media screen and (max-width: 651px) {
    #owl-demo .item img {
      width: 50%; } }

#owl-demo2 .item img {
  display: block;
  width: 100%;
  height: auto; }

#owl-demo2 .item {
  margin: 10px; }

.home_helped {
  background-color: #cccccc;
  margin-top: 80px;
  padding: 40px 0px; }
  .home_helped div p {
    font-size: 1.125em;
    padding-top: 5px; }

.owl-theme .owl-controls .owl-page span {
  width: 10px;
  height: 10px;
  display: none; }

.owl-pagination {
  display: none; }

.contact {
  margin-top: 60px;
  margin-bottom: 80px; }
  .contact iframe {
    width: 100%;
    height: 500px; }
    @media screen and (max-width: 890px) {
      .contact iframe {
        display: none; } }
  .contact form {
    padding-left: 4%; }

@media screen and (max-width: 890px) {
  .contact-form {
    width: 100%;
    margin: 0; } }

/*!////////////////////////////////////////////////
// Testimonial
/////////////////////////////////////////////////*/
.testimonial-container {
  background: url("../img/testimonial-banner.jpg") no-repeat;
  background-size: cover; }

.testimonial {
  text-align: center;
  padding: 80px 0; }
  .testimonial p {
    color: white;
    font-size: 1.5em;
    padding: 0 80px; }
    @media screen and (max-width: 845px) {
      .testimonial p {
        padding: 0 10px; } }
    .testimonial p span {
      font-style: italic; }

.ul-container {
  color: white;
  font-size: 1em;
  margin-bottom: 80px; }
  .ul-container .grid-2 {
    background-color: #0f3751;
    padding: 20px;
    height: 200px; }
  .ul-container ul {
    margin-left: 14px;
    margin-top: 15px; }
  .ul-container span {
    text-align: center;
    font-size: 1.25em;
    border-bottom: 2px solid #aab18d; }
  .ul-container li {
    list-style-type: square; }

.cta {
  text-align: center;
  margin-bottom: 60px; }
  .cta .grid-half {
    margin-bottom: 60px; }
  .cta div {
    background-color: #0f3751; }
  .cta h2, .cta p, .cta a {
    color: white; }
  .cta h2 {
    margin: 20px; }
  .cta p {
    margin-bottom: 40px; }
  .cta h2 {
    display: inline-block;
    border-bottom: 2px solid #aab18d; }
  .cta a {
    font-size: 1.25em;
    background-color: #aab18d;
    padding: 10px 20px;
    border: 2px solid #aab18d; }
  .cta a:hover {
    background-color: white;
    color: #0f3751; }

/*!////////////////////////////////////////////////
// Footer
/////////////////////////////////////////////////*/
.footer-container {
  text-align: center; }
  .footer-container p {
    font-size: 0.875em;
    margin: 20px 0; }
    .footer-container p a {
      color: #0f3751; }
    .footer-container p span {
      margin-right: 10px; }

.container {
  max-width: 100%;
  width: 1200px;
  height: auto;
  margin: 0 auto; }
  @media screen and (max-width: 900px) {
    .container {
      padding-left: 10px;
      padding-right: 10px; } }

/*!////////////////////////////////////////////////
// Page
/////////////////////////////////////////////////*/
.page_content {
  padding: 40px 0; }
  @media screen and (max-width: 900px) {
    .page_content {
      padding: 30px 10px; } }

@media screen and (max-width: 900px) {
  .home_content {
    padding: 20px 10px; } }

@media screen and (max-width: 945px) {
  body {
    font-size: 90%; } }
@media screen and (max-width: 800px) {
  body {
    font-size: 80%; } }

@media screen and (max-width: 750px) {
  .grid-half {
    width: 100%;
    display: block;
    margin: 20px 0; } }

.message {
  display: none; }

.alert {
  padding: 5px 15px 5px 15px;
  margin: 8px 0 0 0; }

input.error {
  background: #FFE6E7 !important;
  border: 1px solid red; }

.error {
  -webkit-transition: background .8s ease;
  -moz-transition: background .8s ease;
  -o-transition: background .8s ease;
  -ms-transition: background .8s ease;
  transition: background .8s ease; }

p.error-message, p.error {
  font-size: 0.875em;
  color: #6d0019;
  position: absolute;
  margin-top: -4.1em;
  margin-left: 11em;
  background: #fff;
  padding: .5em .4em;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); }

p.error-message:before, p.error:before {
  position: absolute;
  display: block;
  content: "";
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  left: 1.5em;
  bottom: -20px; }

/*! ==========================================================================
// Media Queries
// =========================================================================*/
/*! ==========================================================================
// Helper classes
// =========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

/*! Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
// For best results, use your favorite clearfix here.
// -------------------------------------------------------------- */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

/*! ==========================================================================
// Print styles
// =========================================================================*/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.contact-form {
  font-family: "Droid Serif", serif, sans-serif;
  /*Set Font for Form*/ }

.contact-form > div {
  width: 100%;
  margin-bottom: 20px; }

.contact-form label {
  width: 100px;
  /*Set a width for all Lables */
  display: inline-block; }
  @media screen and (max-width: 953px) {
    .contact-form label {
      width: 100%;
      display: block;
      padding-bottom: 5px; } }

.contact-form span {
  padding: 8px;
  height: 44px;
  /*set a fixed height for items */
  vertical-align: top;
  border: 2px solid #0f3751;
  width: 31px;
  background-color: #0f3751;
  color: white;
  padding-top: 14px; }
  @media screen and (max-width: 890px) {
    .contact-form span {
      height: 40px; } }

.contact-form input, span.form__title-input {
  width: 70%;
  /*Set a Width for all Inputs */
  padding: 10px;
  border: 2px solid #0f3751;
  display: inline-block;
  background-color: white;
  color: #0f3751; }
  @media screen and (max-width: 890px) {
    .contact-form input, span.form__title-input {
      width: 85%; } }

span.form__title-input {
  color: #757575;
  /*Placeholder dropdown color, use eyedropper to get placeholder color with opacity*/ }

.contact-form div.captcha input {
  width: 44%;
  vertical-align: top; }

.contact-form input.submit {
  width: 73%;
  margin-left: 100px;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  box-shadow: none;
  border: 2px solid #0f3751;
  background-color: #0f3751;
  color: white;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  @media screen and (max-width: 890px) {
    .contact-form input.submit {
      margin-left: 0; } }

.contact-form input.submit:hover {
  background-color: white;
  color: #0f3751;
  border: 2px solid #aab18d; }

.contact-form textarea {
  width: calc(70% + 34px);
  height: 175px;
  padding: 5px;
  border: 2px solid #0f3751; }
  @media screen and (max-width: 890px) {
    .contact-form textarea {
      width: 100%; } }

.contact-form span.form__title-input:hover {
  cursor: pointer; }

.form__dropdown {
  display: inline-block;
  height: 44px;
  width: 100%; }

.form__dropdown-container {
  position: relative; }

.dropdown_list {
  position: absolute;
  top: 44px;
  /*adjust as necessary*/
  left: 160px;
  /*adjust as necessary*/
  width: 70%;
  /*adjust as necessary*/ }

.form__dropdown-li {
  padding: 5px 10px;
  background-color: #0f3751;
  border: 2px solid #0f3751;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.form__dropdown-li:hover {
  background-color: white;
  color: #0f3751;
  cursor: pointer; }

.form__dropdown-ul {
  list-style-type: none; }

span.active-form-title {
  color: #0f3751; }

/*FOR MEDIA QUERIES, BE SURE TO ADJUST WIDTH ELEMENTS */
