@import "resets.scss";
@import "mixins.scss";
@import "layout.scss";
@import "theme.scss";

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
.test{
	min-height: 100px;
	background-color: gray;
}

$blue: #0f3751;
$grey: #cccccc;
$gold: #aab18d;
$light-grey: #d8d7d7;

$font-headers: 'Oswald', sans-serif;
$font-body: 'Droid Serif', serif;

a {
	text-decoration: none;
	color: $gold;
	@include prefix(transition, all 0.3s ease-in-out);
}

svg {
	@include prefix(transition, all 0.3s ease-in-out);
}

a, p, h1, h2, h3, h4 {
	font-weight: normal;
}


p {
	font-family: $font-body;
	font-size: em(16px,$font-size);
	color: $blue;
}

h3 {
	font-family: $font-body;
	font-size: em(24px,$font-size);
}

h2 {
	font-family: $font-headers;
	font-size: em(48px,$font-size);
}

h1, h2 {
	font-family: $font-headers;
	font-size: em(48px,$font-size);
}

/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/

/*!////////////////////////////////////////////////
// header
/////////////////////////////////////////////////*/
.header {
	margin: 20px 0;
	position: relative;
}

.logo {
	display: inline-block;
}

.phone {
	display: inline-block;
	float: right;
	margin-top: 20px;


	h3 {
		color: $blue;

		@media screen and (max-width:421px) {
			font-size: 1.25em;
			position: absolute;
top: 0;
right: 10px;
		}
	}
}

nav {
	margin-top: 20px;
	@media screen and (max-width:878px) {
		display: none;
	}
	@media screen and (max-width:1045px) {
		text-align: center;
	}
	@media screen and (max-width:878px) {
		text-align: left;
	}
	a {
		color: $blue;
		padding: 5px 26px;
		position: relative;
		@include prefix(transition, all 0.3s ease-in-out);
		border-right: 2px solid $light-grey;
		border-bottom: 2px solid white;
		text-align: center;

		@media screen and (max-width:1215px) {
			padding:5px 1.5%;
		}

		@media screen and (max-width:1045px) {
			padding: 5px 1%;
		}

		@media screen and (max-width:878px) {
			border-right: none;
			text-align: left;
			display: block;
		}
	}

	:last-child {
		border-right: none;
	}

	:hover {
		border-bottom: 2px solid $gold;

		@media screen and (max-width:878px) {
			background-color: $blue;
			color: white;
			border-bottom: 2px solid white;
		}
	}
}

	.hamburger {
		display: none;
		@media screen and (max-width:878px) {
			display: inline-block;
			position:absolute;
			bottom: -10px;
			right:20px;
		}

		svg {
			fill:$blue;
			z-index: 10;
width: 30px;
height: 40px;
		}

		svg:hover {
			fill: $gold;
		}
	}

	.display {
		display: block;
	}

.h-container {
	position: relative;
	width: 100%;
}

/*!////////////////////////////////////////////////
// homepage banner
/////////////////////////////////////////////////*/

.homepage_banner {
	height: 615px;
	background: url('../img/header-banner.jpg') no-repeat fixed;
	background-size: cover;
	padding-top: 140.5px;
}

.homepage_title {
	margin: 0 auto;
	width: 40%;
	padding: 50px 0;
	position: relative;

	@media screen and (max-width:1280px) {
		width: 60%;
	}
	@media screen and (max-width:808px) {
		width: 90%;
	}

	:before {
		width: 100%;
		position: absolute;
		content: "";
		bottom: 0;
		width: calc(100% + 40px);
		height: 2px;
		left: -20px;
		background-color: $gold;
	}

	:after {
		width: 2px;
		position: absolute;
		background-color: $gold;
		height: calc(100% + 40px);
		right: 0;
		top: -20px;
		content: "";
	}

	.homepage_title2 {
		:before {
			width: 2px;
			position: absolute;
			background-color: $gold;
			height: calc(100% + 40px);
			left: 0;
			top: -20px;
			content: "";
		}

		:after {
			width: 100%;
			position: absolute;
			content: "";
			top: 0;
			width: calc(100% + 40px);
			height: 2px;
			left: -20px;
			background-color: $gold;
		}

	}

	h1 {
		text-align: center;
		color: white;
		span {
			font-family: $font-body;
			font-size: 24px;
			display: block;
			width: 100%;
			margin-top: 40px;
		}
	}

}

.page-title {
	margin: 60px auto;
	width: 30%;
	padding: 20px 0;
	position: relative;

	h1 {
		color: $blue;
		text-align: center;
	}

	@media screen and (max-width:1280px) {
		width: 40%;
	}

		@media screen and (max-width:1011px) {
		width: 80%;
	}


	:before {
		width: 100%;
		position: absolute;
		content: "";
		bottom: 0;
		width: calc(100% + 40px);
		height: 2px;
		left: -20px;
		background-color: $gold;
	}

	:after {
		width: 2px;
		position: absolute;
		background-color: $gold;
		height: calc(100% + 40px);
		right: 0;
		top: -20px;
		content: "";
	}

	.page-title2 {
		:before {
			width: 2px;
			position: absolute;
			background-color: $gold;
			height: calc(100% + 40px);
			left: 0;
			top: -20px;
			content: "";
		}

		:after {
			width: 100%;
			position: absolute;
			content: "";
			top: 0;
			width: calc(100% + 40px);
			height: 2px;
			left: -20px;
			background-color: $gold;
		}
	}
}

.sub-page-intro {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	padding-bottom: 60px;
	line-height: 20pt;

	@media screen and (max-width:790px) {
		width: 80%;
	}

	@media screen and (max-width:441px) {
		width: 100%;
	}

	p {
		margin-bottom: 20px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.about-page {
	text-align: left;
}

.grid-system {
	margin: 60px 0;
	span {
		padding: 20px;
		display: block;
		height: 70px;
		width: 100%;
		border: 2px solid $blue;
		background-color: $blue;
		color: white;
		padding-top: 16px;
		margin-bottom: 20px;
		font-family: $font-body;
		font-size: em(20px,$font-size);
		@include prefix(transition, all 0.3s ease-in-out);

		@media screen and (max-width:1196px) {
			height: 90px;
		}

	}

	h2 {
		font-size: em(32px,$font-size);
		color: $blue;
		border-bottom: 2px solid $gold;
		margin-bottom: 20px; 
		text-align: center;

		@media screen and (max-width:1196px) {
			margin-top: 40px;
		}
	}

	span.long {
		padding-top: 7px;
	}

	span:last-child {
		margin-bottom: 0;
	}
}

.links {
	span:hover {
		background-color: white;
		color: $blue; 
		cursor: pointer;

		svg {
			fill:$blue;
		}
	}

	.active {
		background-color: white;
		color: $blue; 

		svg {
			fill: $blue;
		}
	}

	span {
		position: relative;

		svg {
			width: 35px;
			position: absolute;
			right: 20px;
			top: 14px;
			height: auto;
			@include prefix(transition, all 0.3s ease-in-out);
			fill:white;
		}


	}

	p {
		margin-bottom: 20px;
		display: none;
		@include prefix(transition, all 0.3s ease-in-out);
	}


}
.svg-rotate svg{
	transform: rotate(180deg);
}
.image-container {
	.grid-25 {
		img {
			width: 100%;
			height: auto;
		}
	}
}
.rotate {
	transform: rotate(180deg);
}
/*!////////////////////////////////////////////////
// Home section
/////////////////////////////////////////////////*/
.home_content {
	text-align: center;
	color: $blue;

	div {
		width: 63%;
		margin: 0 auto;
		padding: 40px 0;

		@media screen and (max-width:713px) {
			width: 100%;
		}

		p {
			line-height: 20pt;
		}
	}
}

/*!////////////////////////////////////////////////
// Circle
/////////////////////////////////////////////////*/

.circle {
	border-radius: 50%;
	border: 2px solid $blue;
	width: 350px;
	height: 350px;
	margin: 0 auto;
	background-color: white;
	position: relative;

		@media screen and (max-width:876px) {
		width: 300px;
		height: 300px;
	}
}

.circle-center {
	width: 370px;
	background-color: white;
	height: 111px;
	margin-top: 119.5px;
	margin-left: -10px;
	position: relative;
	@media screen and (max-width:939px) {
		background-color: transparent;
	}
			@media screen and (max-width:939px) {
		border: none;
		display: none;
	}
}

.circle-horz {
	width: 370px;
	height: 115px;
	border-top: 2px solid $blue; 
	border-bottom: 2px solid $blue;
	position: absolute;
	top: 117.5px;
	left: -10px;
	z-index: -1;
		@media screen and (max-width:939px) {
		border: none;
		display: none;
	}
}

.circle-1 {
	height: 15px;
	width: 100%;
	position: absolute;
	top: 0;
	border-right: 2px solid $blue;
	border-left: 2px solid $blue;
			@media screen and (max-width:939px) {
		border: none;
	}
}

.circle-2 {
	height: 15px;
	width: 100%;
	position: absolute;
	bottom: 0;
	border-right: 2px solid $blue;
	border-left: 2px solid $blue; 
			@media screen and (max-width:939px) {
		border: none;
	}
}


.circle-text {
	position: absolute;
	text-align: center;
	top: 72px;
	color: $blue;
	left: 50%;
	margin-left: -116px;

	img {
		width: 40%;
		margin-top: 20px;
	}

	h2 {
		border-bottom: 2px solid $gold;
		text-transform: uppercase;
	}

	p {
		font-size: em(18px,$font-size);
	}

	@media screen and (max-width:876px) {
		top: 38px;
		margin-left: -102px;
	}
}


/*!////////////////////////////////////////////////
// Home Bars
/////////////////////////////////////////////////*/

.home_circle-wrap {
	position: relative;
	width: 84%;
	margin: 0 auto;
		@media screen and (max-width:740px) {
		width: 100%;
	}
	h3 {
		display: inline-block;
		position: absolute;

		@media screen and (max-width:740px) {
			display: block;
			position: relative;
			width: 100%;
			text-align: left;
			top: 20px;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			padding: 10px 20px;
			color: white;
			background-color: $blue;
			border: 2px solid $blue;
			@include prefix(transition, all 0.3s ease-in-out);
		}

		a:hover {
			background-color: white;
			color: $blue;
		}
	}
}

.top {
	top: 10px;

	@media screen and (max-width:1122px) {
		top: -40px;
	}
}

.left {
	left: 0;

}

.right {
	right: 0;
	text-align: right;
}

.middle {
	top: 145px;
	text-align: center;

	@media screen and (max-width:1012px) {
		top: 120px;
	}
}

.bottom {
	bottom: 10px;

	@media screen and (max-width:1122px) {
		bottom: -40px;
	}
}

.full {
	width: 46%;
	@media screen and (max-width:1122px) {
		width: 50%;
	}
}

.small {
	width: 30%;
}

.project {
	padding-left: 20px;

	@media screen and (max-width:911px) {
		padding-left: 0;
	}
}

.office {
	padding-right: 20px;
		@media screen and (max-width:911px) {
		padding-right: 0;
	}
}

.circle-hide {
	display: none;
	@media screen and (max-width:740px) {
		display: block;
	}
}

.circle-show h3 a{
		@media screen and (max-width:740px) {
		display: none;
	}
}

/*!////////////////////////////////////////////////
// Owl
/////////////////////////////////////////////////*/

#owl-demo .item{  
	margin: 40px 60px 10px 60px;

	@media screen and (max-width:1280px) {
		margin: 40px 40px 10px 40px;
	}
}

#owl-demo .item img{  
	display: block;  
	width: 90%;  
	height: auto;

	@media screen and (max-width:1280px) {
		width: 100%;
	}

	@media screen and (max-width:1011px) {
		width: 80%;
	}

	@media screen and (max-width:651px) {
		width: 50%;
	}
}

#owl-demo2 .item img {
	display: block;
	width: 100%;
	height: auto;
}

#owl-demo2 {
	.item {
		margin: 10px;
	}
}


.home_helped {
	background-color: $grey;
	margin-top:80px;
	padding:40px 0px;

	div {
		p {
			font-size: em(18px,$font-size);
			padding-top: 5px;
		}
	}
}

.owl-theme .owl-controls .owl-page span {
	width: 10px;
	height: 10px;
	display: none;
}

.owl-pagination {
	display: none;
}

.contact {
	margin-top: 60px;
	margin-bottom: 80px;
	iframe {
		width: 100%;
		height: 500px;


  @media screen and (max-width:890px) {
display: none;
  }
	}

	form {
		padding-left: 4%;
	}
}

.contact-form {
	  @media screen and (max-width:890px) {
width: 100%;
margin: 0;
  }
}

/*!////////////////////////////////////////////////
// Testimonial
/////////////////////////////////////////////////*/

.testimonial-container {
	background: url('../img/testimonial-banner.jpg') no-repeat;
	background-size: cover;
}

.testimonial {
	text-align: center;
	padding: 80px 0;
	p {
		color: white;
		font-size: em(24px,$font-size);
		padding: 0 80px;

		@media screen and (max-width:845px) {
			padding:0 10px;
		}

		span {
			font-style: italic;
		}
	}
}

.ul-container {
	color:white;
	font-size: em(16px,$font-size);
	margin-bottom: 80px;

	.grid-2 {
		background-color: $blue;
		padding: 20px;
		height: 200px;
	}
	ul {
		margin-left: 14px;
		margin-top: 15px;
	}
	span {
		text-align: center;
		font-size: em(20px,$font-size);
		border-bottom: 2px solid $gold;
	}

	li {
		list-style-type: square;
	}
}

.cta {
	text-align: center;
	margin-bottom: 60px;
	
	.grid-half {
		margin-bottom: 60px;
	}

	div {
		background-color: $blue;
	}
	h2, p, a {
		color: white;
	}

	h2 {
		margin: 20px;
	}
	p {
		margin-bottom: 40px;
	}
	h2 {
		display: inline-block;
		border-bottom: 2px solid $gold;
	}
	a {
		font-size: em(20px,$font-size);
		background-color: $gold;
		padding: 10px 20px;
		border: 2px solid $gold;
	}

	a:hover {
		background-color: white;
		color: $blue;
	}
}

/*!////////////////////////////////////////////////
// Footer
/////////////////////////////////////////////////*/

.footer-container {
	text-align: center;

	p {
		font-size: em(14px,$font-size);
		margin: 20px 0;

		a {
			color: $blue;
		}


		span {
			margin-right: 10px;
		}
	}
}

.container {
	max-width: 100%;
	width: 1200px;
	height: auto;
	margin:  0 auto;

	@media screen and (max-width:900px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

/*!////////////////////////////////////////////////
// Page
/////////////////////////////////////////////////*/

.page_content {
	padding: 40px 0;

	@media screen and (max-width:900px) {
		padding: 30px 10px;
	}
}

.home_content {
		@media screen and (max-width:900px) {
		padding: 20px 10px;
	}
}

body {
	@media screen and (max-width:945px) {
		font-size: 90%;
	}
		@media screen and (max-width:800px) {
		font-size: 80%;
	}
}

.grid-half {
	@media screen and (max-width:750px) {
		width: 100%;
		display: block;
		margin: 20px 0;
	}
}

.message {
    display: none;
}
.alert {
    padding: 5px 15px 5px 15px; 
    margin: 8px 0 0 0;
}
input.error{
    background: #FFE6E7 !important;
    border: 1px solid red;
}
.error {
    -webkit-transition: background .8s ease;
    -moz-transition: background .8s ease;
    -o-transition: background .8s ease;
    -ms-transition: background .8s ease;
    transition: background .8s ease;
}
p.error-message, p.error {
    font-size: 0.875em;
    color: #6d0019;
    position: absolute;
    margin-top: -4.1em;
    margin-left: 11em;
    background: #fff;
    padding: .5em .4em;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
p.error-message:before, p.error:before {
    position: absolute; 
    display: block; 
    content: "";
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    left: 1.5em;
    bottom: -20px;
}



@import "shame.scss";
@import "helpers.scss";
@import "contact.scss";